.container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-bottom: 45px;
}
