.card {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.image {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.infoBox {
  width: 526px;
  height: 310px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 8px;
}

.camperName {
  color: #101828;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.price {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.notFavoriteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favoriteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notFavorite {
  width: 25px;
  height: 22px;
}

.favorite {
  width: 25px;
  height: 22px;
  fill: #e44848;
}

.ratingWrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.starIcon {
  fill: #ffc531;
}

.reviews {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.ratingBtn {
  text-decoration: underline;
}

.locationWrap {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}

.location {
  color: #101828;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.locationWrap svg {
  width: 16px;
  height: 16px;
}
.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 8px;
  margin-bottom: 14px;
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f7;
  border-radius: 100px;
  min-width: 90px;
  height: 44px;
  padding: 0 10px;
}

.optionDesc {
  margin: 0;
}

.optionIcon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 30px 0 30px 0;
  color: #475467;
}

.showMoreBtn {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  cursor: pointer;
}
.showMoreBtn:hover,
.showMoreBtn:focus {
  background: #d84343;
}
